.nav-bar-menu > li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
    position: relative;
}

.nav-bar-menu > li:last-child {
    margin-right: 0px;
}

.nav-bar-menu > li > a {
    color: black;
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 16px;
}

.nav-bar-menu > li > a:hover {
    color: #1ea7fd; 
}

/* Submenu style */
.submenu {
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}

.nav-bar-menu-item:hover > .submenu {
    opacity: 1;
    z-index: 99;
    margin-top: 0;
}

.submenu-item {
    margin: 0;
    width: 100%;
}

.submenu-item a {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}
